@mixin buttonStyles {
  border: none;
  height: 30px;
  cursor: pointer;
  margin: 0 10px;
}

$module: 'Input';

.#{$module} {
  border: 1px solid #dcdde1;
  border-radius: 3px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  align-items: center;

  &__Element {
    border: none;
    width: 100%;
    outline: none;
  }

  &__XIcon {
    color: #dcdde1;
    cursor: pointer;
    &:hover {
      color: #b2bec3;
    }
  }

  &__Submit {
    @include buttonStyles;
    width: 180px;
    background: #74b9ff;
    color: #ffffff;
    &:hover {
      background: #2d98da;
      color: #30336b;
    }
  }

  &__Suggest {
    @include buttonStyles;
    width: 180px;
    background: #badc58;
    color: #30336b;
    &:hover {
      background: #6ab04c;
      color: #ffffff;
    }
  }
}